@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@-webkit-keyframes action {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  35% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  70% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
@keyframes action {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  35% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  70% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes curser {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes curser {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background: color-stack;
  position: relative;
  z-index: -10;
}

main {
  position: relative;
  z-index: -11;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 80vh;
}

.header__icons {
  padding: 0 10px;
  margin-top: 20px;
}

.header__action {
  padding: 50px;
}

/**
 * Basic typography style for copy text
 */
.header__icons {
  font-size: 15px;
  color: white;
}

.header__action {
  font-size: 40px;
  color: white;
}

.about__content h2 {
  font-family: "Poppins";
  font-size: 23px;
  font-weight: bold;
  line-height: 1.1;
  color: black;
}

.about__content p {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #748182;
}

.slider__icon i {
  font-size: 30px;
  color: #333;
}

.container__slider li h2 {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
  line-height: 1.1;
  color: #333;
}

.container__slider li p {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  color: #748182;
}

.portfolio h2 {
  font-family: "Poppins";
  font-size: 23px;
  font-weight: bold;
  line-height: 1.1;
  color: #333;
}

.portfolio ul {
  list-style: none;
}

.portfolio ul a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 11px;
  font-weight: 400;
  line-height: 1.42px;
  color: #748182;
  text-transform: capitalize;
}

.portfolio__gallery_overlay-title span {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  color: black;
}

.portfolio__gallery_overlay-title h3 {
  font-family: "Poppins";
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1;
  color: black;
}

.lastest h2 {
  font-family: "Poppins";
  font-size: 23px;
  font-weight: bold;
  line-height: 1.1;
  color: #333;
}

.lastest__content_blog h2 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1;
  color: #333;
}

.lastest__content_blog p {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: #748182;
}

.lastest__content_blog .blog__another {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: bold;
  line-height: 17.42px;
  color: black;
}

.lastest__content_blog .blog__date {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 300;
  line-height: 23px;
  color: #748182;
}

.lastest__buttem a {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 300;
  line-height: 17.42px;
  color: #748182;
}

.touch__content_left h2 {
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 900;
  line-height: 1.1;
  color: black;
}

.list__text {
  font-family: "Poppins";
  font-size: 14.5px;
  font-weight: 400;
  line-height: 36px;
  color: #748182;
}

.list__address {
  font-family: "Poppins";
  font-size: 14.5px;
  font-weight: 400;
  line-height: 36px;
  color: #748182;
}

.touch__icons {
  color: black;
  font-size: 12px;
}

.touch__content_right h2 {
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 900;
  line-height: 1.1;
  color: black;
}

.footer__content_link a {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  color: #b1b1b1;
}

.footer__content_text p {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.1;
  color: #b1b1b1;
}

.header {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../imgs/headerbg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/headerbg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 74%, 21% 99%, 0 78%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 74%, 21% 99%, 0 78%, 0 0);
}

@media (max-width: 991.98px) {
  .header {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 21% 99%, 0 80%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 80%, 21% 99%, 0 80%, 0 0);
  }
}

@media (max-width: 767.98px) {
  .header {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 73% 95%, 0 90%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 90%, 73% 95%, 0 90%, 0 0);
  }
}

@media (max-width: 575.98px) {
  .header {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 24% 90%, 0 80%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 80%, 24% 90%, 0 80%, 0 0);
  }
}

.header__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header__title h1 {
  font-family: "Poppins";
  font-size: 75px;
  font-weight: bold;
  line-height: 1.1;
  color: white;
  display: inline-block;
}

@media (max-width: 575.98px) {
  .header__title h1 {
    font-size: 40px;
  }
}

.header__title span {
  font-size: 75px;
  color: white;
  font-weight: 700;
  display: inline-block;
  -webkit-animation: curser 2s infinite;
          animation: curser 2s infinite;
}

@media (max-width: 575.98px) {
  .header__title span {
    font-size: 40px;
  }
}

.header__icons_socials {
  cursor: pointer;
}

.header__action {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-animation: action 2s infinite;
          animation: action 2s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.footer {
  background: black;
}

.footer__content {
  list-style: none;
  text-align: center;
}

.footer__content_link {
  padding-top: 50px;
}

.footer__content_link a {
  text-decoration: none;
  padding-right: 10px;
}

.footer__content_link a:hover {
  color: #748182;
}

.footer__content_text {
  padding-top: 50px;
}

.footer__content {
  padding-bottom: 50px;
}

.about {
  position: relative;
  z-index: -1;
  margin-top: -170px;
  padding: 300px 0;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 76% 96%, 0 78%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 80%, 76% 96%, 0 78%, 0 0);
  background: #f5f5f5;
}

@media (max-width: 767.98px) {
  .about {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 73% 95%, 0 90%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 90%, 73% 95%, 0 90%, 0 0);
  }
}

.about__image {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 50px;
}

@media (max-width: 767.98px) {
  .about__image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 300px;
  }
}

.about__image img {
  width: 100%;
  -webkit-box-shadow: -41px 61px 0px 1px #e0e0e0;
  box-shadow: -41px 61px 0px 1px #e0e0e0;
}

.about__content {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding-top: 80px;
}

@media (max-width: 767.98px) {
  .about__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.about__content p {
  margin-top: 30px;
}

.container__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-top: 100px;
}

@media (max-width: 767.98px) {
  .container__slider {
    margin-top: 450px;
  }
}

.container__slider li {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
}

@media (max-width: 767.98px) {
  .container__slider li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 20px 0;
  }
}

.container__slider li span {
  padding-right: 20px;
}

.container__slider li h2 {
  padding-bottom: 10px;
}

.portfolio {
  padding: 300px 0;
  position: relative;
  z-index: -2;
  margin-top: -170px;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 21% 96%, 0 85%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 80%, 21% 96%, 0 85%, 0 0);
}

@media (max-width: 575.98px) {
  .portfolio {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 95%, 25% 99%, 0 95%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 95%, 25% 99%, 0 95%, 0 0);
  }
}

.portfolio h2 {
  padding-bottom: 10px;
}

.portfolio li {
  display: inline-block;
}

.portfolio li a {
  padding-right: 10px;
}

.portfolio__gallery {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.portfolio__gallery_image {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  padding: 20px;
  padding-left: 0;
}

@media (max-width: 575.98px) {
  .portfolio__gallery_image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.portfolio__gallery_image img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio__gallery_link {
  width: 100%;
  display: block;
  position: relative;
}

.portfolio__gallery_link:hover .portfolio__gallery_overlay {
  opacity: 1;
}

.portfolio__gallery_link:hover .portfolio__gallery_overlay-title {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.portfolio__gallery_link:hover .portfolio__gallery_image img {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.portfolio__gallery_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio__gallery_overlay-title {
  text-align: center;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.lastest {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 80%, 76% 96%, 0 85%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 80%, 76% 96%, 0 85%, 0 0);
  background: #f5f5f5;
  position: relative;
  z-index: -3;
  padding: 300px 0;
  margin-top: -315px;
}

@media (max-width: 575.98px) {
  .lastest {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 95%, 75% 99%, 0 95%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 95%, 75% 99%, 0 95%, 0 0);
  }
}

.lastest h2 {
  text-align: right;
  margin-right: 35px;
}

.lastest__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.lastest__content {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  padding: 10px;
}

@media (max-width: 575.98px) {
  .lastest__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 50px;
  }
}

.lastest__content_blog h2 {
  text-align: left;
  margin: 30px 0;
}

.lastest__content_blog p {
  margin-bottom: 30px;
}

.lastest__buttem {
  text-align: right;
  margin-right: 200px;
}

.lastest__buttem a {
  text-decoration: none;
  border: 1px solid #748182;
  padding: 10px 15px;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.lastest__buttem a:hover {
  background-color: #333;
  color: white;
  width: 100%;
  height: 100%;
}

.lastest__buttem a i {
  margin-left: 10px;
}

.touch {
  padding-top: 150px;
}

.touch__content_left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

@media (max-width: 575.98px) {
  .touch__content_left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 150px;
  }
}

.touch__content_left h2 {
  margin-bottom: 50px;
}

.touch__content_left ul {
  list-style: none;
}

.space {
  margin-top: 50px;
}

.touch__icons {
  display: inline-block;
  margin-top: 50px;
  padding-right: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.touch__icons:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.touch__icons--facebook:hover {
  color: #337ab7;
}

.touch__icons--twitter:hover {
  color: #55acee;
}

.touch__icons--instagram:hover {
  color: #cd486b;
}

.touch__icons--googleplus:hover {
  color: #ea4c89;
}

.touch__icons--behance:hover {
  color: #1769ff;
}

.touch__icons--dribb:hover {
  color: #ea4c89;
}

.touch__content_right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

@media (max-width: 575.98px) {
  .touch__content_right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-top: 50px;
    min-height: 100vh;
    margin-bottom: 50px;
  }
}

.touch__content_right h2 {
  text-align: right;
}

.form__container {
  width: 100%;
}

.form_flex {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form_groupe {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form_groupe input[type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid #748182;
  padding: 20px;
  width: 100%;
  margin-right: 10px;
}

.form_groupe input[type="email"] {
  border: none;
  outline: none;
  border-bottom: 1px solid #748182;
  padding: 20px;
  width: 100%;
  margin-right: 10px;
}

.form_other {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.form_other textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid #748182;
  width: 100%;
  padding: 30px;
}

.form_buttem {
  text-align: right;
  margin-top: 20px;
}

.form_buttem input {
  padding: 15px 45px;
  border: 1px solid #748182;
  outline: none;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form_buttem input:hover {
  background: black;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */
